root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
max_line_length = 120

[*.go]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{js, jsx}]
indent_style = space
indent_size = 4

[*.{json, xml, yml, css, less, scss, sass}]
indent_size = 2

[*.{md, html}]
max_line_length = off
